@mixin font-face($font-family, $file-name, $font-weight: 400) {
  @font-face {
    font-family: #{$font-family};
    src:
      local("#{$file-name}"),
      url("../fonts/#{$file-name}.woff2") format("woff2");
    font-weight: $font-weight;
    font-display: swap;
  }
}
