@use "helpers" as *;

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.inline-icon {
  --size: #{rem(30)};
  --gap: #{rem(10)};

  display: inline-flex;
  align-items: center;
  column-gap: var(--gap);

  &::after {
    // background-image: url(""); // inline svg

    width: var(--size);
    height: var(--size);
    content: "";
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.rounded {
  border-radius: var(--radius-md);
}

.rounded-sm {
  border-radius: var(--radius-sm);
}

.rounded-lg {
  border-radius: var(--radius-lg);
}

.shadow {
  box-shadow: var(--shadow-md);
}

.shadow-lg {
  box-shadow: var(--shadow-lg);
}

.transition {
  transition: all var(--transition-base);
}

.text-center {
  text-align: center;
}
