@use "helpers" as *;

body {
  /*
    font-family
    font-size
    color
  */
}
.wrapper {
  overflow: hidden;
  position: relative;
}

h1, .h1, //
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
}

.container-base {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-padding-x);
}
