<!-- Initialize new AccordionCollection() to activate accordion behavior. -->
<div data-js-accordion>
  <div>
    <h3>
      <button data-js-accordion-button type="button" id="accordion-button-1" aria-expanded="false"
        aria-controls="accordion-panel-1">Button 1</button>
    </h3>
    <div data-js-accordion-content role="region" id="accordion-panel-1" aria-labelledby="accordion-button-1" inert>
      Accordion content 1
      <input type="text" />
    </div>
  </div>
  <div>
    <h3>
      <button data-js-accordion-button type="button" id="accordion-button-2" aria-expanded="false"
        aria-controls="accordion-panel-2">Button 2</button>
    </h3>
    <div data-js-accordion-content role="region" id="accordion-panel-2" aria-labelledby="accordion-button-2" inert>
      Accordion content 2
      <input type="text" />
    </div>
  </div>
</div>