<section class="accordion" data-js-accordion itemscope itemtype="https://schema.org/FAQPage">
  <div class="accordion__item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <button
      class="accordion__button"
      id="accordion-button-1"
      type="button"
      aria-expanded="false"
      aria-controls="accordion-panel-1"
      data-js-accordion-button
    >
      <span itemprop="name">Button 1</span>
    </button>
    <div
      class="accordion__panel"
      role="region"
      id="accordion-panel-1"
      aria-labelledby="accordion-button-1"
      itemscope
      itemprop="acceptedAnswer"
      itemtype="https://schema.org/Answer"
    >
      <div class="accordion__content" itemprop="text">CONTENT 1</div>
    </div>
  </div>
</section>
