<section data-js-accordion>
  <div>
    <button
      id="accordion-button-1"
      type="button"
      aria-expanded="false"
      aria-controls="accordion-panel-1"
      data-js-accordion-button
    >
      Button 1
    </button>
    <div role="region" id="accordion-panel-1" aria-labelledby="accordion-button-1">CONTENT 1</div>
  </div>
  <div>
    <button
      id="accordion-button-2"
      type="button"
      aria-expanded="false"
      aria-controls="accordion-panel-2"
      data-js-accordion-button
    >
      Button 2
    </button>
    <div role="region" id="accordion-panel-2" aria-labelledby="accordion-button-2">CONTENT 2</div>
  </div>
</section>
