<div class="marquee container">
  <div class="marquee__track" id="marquee-track">
    <div class="marquee__item"><div class="marquee__item-inner">SLIDE 1</div></div>
    <div class="marquee__item"><div class="marquee__item-inner">SLIDE 2</div></div>
    <div class="marquee__item"><div class="marquee__item-inner">SLIDE 3</div></div>
    <div class="marquee__item"><div class="marquee__item-inner">SLIDE 4</div></div>
    <div class="marquee__item"><div class="marquee__item-inner">SLIDE 5</div></div>
    <div class="marquee__item"><div class="marquee__item-inner">SLIDE 6</div></div>
    <div class="marquee__item"><div class="marquee__item-inner">SLIDE 7</div></div>
    <div class="marquee__item"><div class="marquee__item-inner">SLIDE 8</div></div>
    <div class="marquee__item"><div class="marquee__item-inner">SLIDE 9</div></div>
    <div class="marquee__item"><div class="marquee__item-inner">SLIDE 10</div></div>
  </div>
</div>
