<button
  class=""
  type="button"
  id="open-popup-form"
  aria-label="Open Contact Form"
  data-micromodal-trigger="modal-window"
  aria-controls="modal-window"
>
  OPEN
</button>
<div id="modal-window" aria-hidden="true" class="modal" role="dialog" aria-labelledby="modal-1-title">
  <div tabindex="-1" data-micromodal-close class="modal__body">
    <div class="modal__inner">
      <div class="modal__content">
        <button class="modal__close" type="button" data-micromodal-close aria-label="Close Modal">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>
        <h2 class="modal__title" id="modal-1-title">FORM TITLE</h2>
        <div class="modal__form">
          <!-- CODE -->
          <script src="https://link.msgsndr.com/js/form_embed.js"></script>
        </div>
      </div>
    </div>
  </div>
</div>
