<!-- Initialize new TabsCollection() to activate tabs behavior. -->
<div class="tabs" aria-labelledby="tabs-title" data-js-tabs>
  <h2 id="tabs-title">Tabs</h2>
  <div role="tablist" aria-labelledby="tabs-title">
    <button data-js-tabs-button type="button" id="tab-1" role="tab" aria-controls="tabpanel-1" aria-selected="true"
      tabindex="0" class="is-active">First tab</button>
    <button data-js-tabs-button type="button" id="tab-2" role="tab" aria-controls="tabpanel-2" aria-selected="false"
      tabindex="-1">Second tab</button>
    <button data-js-tabs-button type="button" id="tab-3" role="tab" aria-controls="tabpanel-3" aria-selected="false"
      tabindex="-1">Third tab</button>
  </div>
  <div>
    <div data-js-tabs-content role="tabpanel" aria-labelledby="tab-1" id="tabpanel-1" class="is-active">content1</div>
    <div data-js-tabs-content role="tabpanel" aria-labelledby="tab-2" id="tabpanel-2" hidden>content2</div>
    <div data-js-tabs-content role="tabpanel" aria-labelledby="tab-3" id="tabpanel-3" hidden>content3</div>
  </div>
</div>